# Byte compiled
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# OS files
.DS_Store

# Pytest cache
.pytest_cache/

# Runtime logs
logs/

# Old README
README_old.md

# Old model card
model_card_old.md

# Images
img/
